.App {
  text-align: center;
}

.fullWidth {
  width: 100%;
}

.navBar ul li {
  display: inline-block;
  padding-left: 1vw;
  padding-right: 1vw;
}

.navBar ul li a {
  text-decoration: none;
}

.navActive {
  color: red;
}

.localeSwitch {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1vw;
}